@page "/admin/blogposts"

@attribute [Authorize]

@inject IBlogApi _api

<h3>Blog Posts</h3>

<a href="/admin/blogposts/new">New Blog Post</a>
<ul>
    <Virtualize ItemsProvider="LoadPosts" Context="p">
        <li>
            @p.PublishDate
            <a href="/admin/blogposts/@p.Id">@p.Title</a>
        </li>
    </Virtualize>
</ul>


