@implements ILoginStatus

@inject NavigationManager _navigation

<AuthorizeView>
    <Authorized>
        <a href="#" @onclick="BeginSignOut">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code
{
    private void BeginSignOut( MouseEventArgs args )
    {
        this._navigation.NavigateToLogout( "authentication/logout" );
    }
}
