@typeparam TItemType

@inject IJSRuntime jsRuntime

<h3>List</h3>
<table>
    <Virtualize Items="@Items" Context="item">
        <tr>
            <td>
                <button class="btn btn-primary" @onclick="@(()=>{SelectEvent.InvokeAsync(item); })">Select</button>
            </td>
            <td>@ItemTemplate(item)</td>
            <td>
                <button class="btn btn-danger" @onclick="@(async ()=>{ if (await ShouldDelete()) { await DeleteEvent.InvokeAsync(item); } } )">Delete</button>
            </td>
        </tr>
    </Virtualize>
</table>
